table tr td{
	border: 1px solid black; /* borda da tabela*/
}

table{
	width: 80% ; /* largura da tabela*/
	margin: auto; /* alinhamento centralizado da tabela*/
}

button{ 
	color: #4169E1; /*cor da fonte*/
	background: #191970; /* cor do fundo do botão*/
	font-size: 20px; /* tamanho da fonte*/
	border-radius: 20px; /* arredonda os cantos*/
	margin-top: 25px; /* espaçamento na parte de cima do botão */
	margin-bottom: 25px; /* espaçamento na parte debaixo do botão */
	margin-left: 20px; /*margem a esquerda*/
	margin-right: 50px; /*margem a direito*/

	/*margin: 25px 25px 20px 50px;*/

	padding-top: 10px; /*margem interna de cima*/
	padding-bottom: 10px; /*margem interna de baixo*/
}

p{
	color:#191970 ;
	font-size: 25px;
	font-family: 'Ravie'; /* fonte do texto*/
	text-transform: lowercase;
	letter-spacing: 2px;
}
